@{
    ViewData["Title"] = "Görev Alanı ve Tarihçemiz";
    Layout = "_LayoutHomePage";
}

<div class="container-fluid mt-5 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title mb-0">
                    <h4 class="m-0 text-uppercase font-weight-bold">Görev Alanı</h4>
                </div>
                <div class="bg-white border border-top-0 p-4 mb-3">
                    <p class="m-0">
                        Devlet Su İşleri Genel Müdürlüğü 28.02.1954 tarihinden geçerli olmak üzere, 25.12.1953 tarihinde Resmi Gazete’de yayınlanan 6200 sayılı yasa ile kurulmuştur. Devlet Su İşleri; Orman ve Su İşleri Bakanlığına bağlı ülkemizin tüm su kaynaklarının planlanması, yönetimi, geliştirilmesi ve işletilmesinden sorumlu ve 2 Kasım 2011 Tarihli ve 28103 Sayılı Resmi Gazete’nin mükerrer sayısında yayımlanan 662 sayılı KHK ile 2/11/2011 tarihi itibarıyla kamu tüzel kişiliğine sahip özel bütçeli kamu idaresi haline gelen, Genel Müdürlüğümüzün 26 Bölgesinden birini teşkil etmektedir.

                    </p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="section-title mb-0">
                    <h4 class="m-0 text-uppercase font-weight-bold">Tarihçemiz</h4>
                </div>
                <div class="bg-white border border-top-0 p-4 mb-3">
                    <p class="m-0">
                        Merkezi Kars ili olmak üzere 21.07.1979 tarihinde Enerji ve Tabii Kaynaklar Bakanlığının Olur’larıyla DSİ 16. Bölge Müdürlüğü olarak kurulmuş; ancak teşkilatlanmasını tamamlayamadan 22.12.1980 tarihinde kapatılmıştır. Daha sonra 27.06.1993 tarih ve 21620 sayılı Resmi Gazetede yayınlanan 93/4539 sayılı Bakanlar Kurulu kararıyla DSİ 24. Bölge Müdürlüğü olarak kurulmuştur.<br /><br />

                        Kars Iğdır ve Ardahan İllerini kapsayan DSİ 24. Bölge Müdürlüğü 1995 yılında (Erzurum) DSİ 8. Bölge Müdürlüğünden ayrılarak fiilen teşkilatlanmaya ve hizmet vermeye başlamıştır.<br /><br />

                        Bölge Müdürlüğümüz 241. Şube Müdürlüğü ile birlikte Kars ilinde 199 dekar, 242. Şube Müdürlüğü Iğdır ilinde 41 dekar alan üzerinde kurulu kampüslerde hizmet vermektedir.<br /><br />

                        Bu alanlarda idari binalar, ambarlar, atölyeler, kapalı garajlar, ısıtma merkezleri, sosyal tesisler ve lojmanlar bulunmaktadır.<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
