@model LoginViewModel

@{
    ViewData["Title"] = "Giriş";
    Layout = "_LayoutLogin";
}
<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image">
                        <img src="~/admin/img/dsi24login.jpg" width="600px" height="500px"/>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h2 class="h4 text-gray-900 mb-4">DSİ 24.Bölge Müdürlüğü Portal</h2>
                                <h1 class="h4 text-gray-900 mb-4">Giriş Sayfası</h1>
                            </div>
                            <form class="user" asp-action="Login">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Username" class="control-label"></label>
                                    <input asp-for="Username" class="form-control" placeholder="kullanıcı adı giriniz..." />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input type="password" asp-for="Password" class="form-control" placeholder="şifre giriniz..." />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="ReturnUrl" value="@Context.Request.Query["ReturnUrl"]" />
                                <div class="form-group">
                                    <button type="submit" value="Giriş" class="btn btn-primary btn-lg" title="Giriş"><i class="fa-solid fa-right-to-bracket"></i> Giriş</button>
                                </div>
                            </form>
                            <hr>
                            <div class="form-group">
                                <a class="small" href="/Account/ForgetPassword">Şifremi Unuttum!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
